mixin footerMenuList(...items)
    ul.bottom-menu__list
        each item in items
            li.c-bottom-menu__item
                a.c-bottom-menu__link.c-link(href='#')= item

mixin breadCrumbs(...items)
    -let length = Object.keys(items).length
    -let i = 1
    .c-breadcrumbs
        ul.c-breadcrumbs__list
            li.c-breadcrumbs__item
                a.c-breadcrumbs__link(href='#')
                    span.c-breadcrumbs__title
                        img(alt='' height='14' src='images/home.png' width='14')
            each item in items
                if i === length
                    li.c-breadcrumbs__item
                        span.c-breadcrumbs__title= item.value
                else
                    li.c-breadcrumbs__item
                        a.c-breadcrumbs__link(href='#')
                            span.c-breadcrumbs__title= item.value
                -i++

mixin svgSprite(data)
    svg(class=data.className fill='none' height=data.height width=data.width xmlns='http://www.w3.org/2000/svg')
        use(xlink:href='images/svg.svg#' + data.name  xmlns='http://www.w3.org/1999/xlink')


mixin newsCardPrimary(newsCardModel)
    a.c-card-news.c-card-news_lg.c-card-news_color-light.c-card-news_style-primary(href=newsCardModel.href)
        .c-card-news__photo(style="background-image:url(" + newsCardModel.img + ")")
        .c-card-news__decor
        .c-card-news__body
            .c-card-news__title=newsCardModel.title
            .c-card-news__info
                +newsInfo(newsCardModel.info)

mixin newsCardSecondary(newsCardModel)
    a.c-card-news.c-card-news_md.c-card-news_color-dark.c-card-news_style-secondary(href=newsCardModel.href)
        .c-card-news__decor
        .c-card-news__photo(style="background-image:url(" + newsCardModel.img + ")")
        .c-card-news__body
            .c-card-news__title=newsCardModel.title
            .c-card-news__info
                +newsInfo(newsCardModel.info)

mixin newsInfo(newsInfoModel)
    .c-news-info
        for item in newsInfoModel
            .c-news-info__item
                +svgSprite(item.svg)
                .c-news-info__text=item.text

mixin cardLink(cardLinkModel)
    a.c-card-link(style="background-image:url(" + cardLinkModel.img + ")", href=cardLinkModel.href)
        .c-card-link__decor
        .c-card-link__body
            .c-card-link__title=cardLinkModel.title

mixin actionCard(data)
    .c-action-card
        .c-action-card__body
            .c-action-card__content !{data.text}
            .c-action-card__ctrls
                button.c-btn.c-btn_size-md.c-btn_color-light.c-btn_style-default.c-btn_style-bold-upper(type='button')=data.btnText

mixin tabList(tabListModel)
    ul.c-tab-list
        for item in tabListModel
            li.c-tab-list__item
                a.c-tab-item(href=item.href)=item.text

mixin sliderNavPrimary()
    .c-slider-nav
        .c-slider-nav__item
            button.c-btn-ico.c-btn-ico_md.c-btn-ico_color-primary.c-btn-ico_prev(type='button')
                +svgSprite({name: 'arrow', className: 'c-btn-ico__icon', width: 17, height: 12})
        .c-slider-nav__item
            button.c-btn-ico.c-btn-ico_md.c-btn-ico_color-primary(type='button')
                +svgSprite({name: 'arrow', className: 'c-btn-ico__icon', width: 17, height: 12})

mixin sliderHeader(data)
    .row.c-slider-header
        .col-6.col-xl-12.c-slider-header__title=data.title
        .col-6.col-xl-2.c-slider-header__nav
            .c-slider-nav
        .col-12.col-xl-10.c-slider-header__tabs
            +tabList(data.tabListItems)

mixin mapItem(mapItemModel)
    a.c-map-item(href='#')
        .c-map-item__body
            .c-map-item__icon
                +svgSprite({
                    name: mapItemModel.svg.name,
                    className: mapItemModel.svg.className,
                    width: mapItemModel.svg.width,
                    height: mapItemModel.svg.height
                })
            .c-map-item__title= mapItemModel.title
        .c-map-item__count= mapItemModel.count

mixin suggestionItem(data)
    .c-map-suggestions__item
        a.c-map-suggestion(href='#')
            .c-map-suggestion__preview(style='background-image:url(images/' + data.img + ')')
            .c-map-suggestion__title= data.title